<%= form_tag login_path do %>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <%= text_field_tag :email, params[:email], class: "input" %>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <%= password_field_tag :password, nil, class: "input" %>
    </div>
  </div>
  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <button class="button is-info is-outlined">Log In</button>
    </div>
  </div>
<% end %>