<div class="columns is-centered">
  <div class="column is-6", style="margin-top: 10px;">
    <div class="card">
      <div class="card-header">
        <h1 class="card-header-title">Log In</h1>
      </div>
      <div class="card-content">
        <div class="columns">
          <div class="column is-6">
            <%= render "login" %>
          </div>
          <div class="column is-6">
            <div class="card-content">
              <div class="field is-grouped is-grouped-centered">
                <label class="label">Facebook Login</label>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <%= link_to icon("facebook", "Connect with Facebook"), "/auth/facebook", class: "button is-info is-outlined" %>
              </div>
            </div>
            <div class="card-content">
              <div class="field is-grouped is-grouped-centered">
                <label class="label">Create Account</label>
              </div>
              <div class="field is-grouped is-grouped-centered">
                <%= link_to "Create An Account", new_user_path, class: "button is-info is-outlined" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content" style="margin-top: 30px;">
      <p><strong>Progress</strong> 
      <ul>
        noun
        <li>a movement toward a goal or to a further or higher stage</li>
        <li>advancement in general</li>
        <li>growth and development; continuous movement</li>
        verb
        <li>to grow or develop, as in complexity, scope, or severity; advance:</li>  
      </ul>
      </p>  
    </div>
  </div>
</div>