<div class="card post" style="margin-top: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-64x64">
          <%= image_tag "http://lorempixel.com/128/128/people/" %>
        </div>
      </div>
      <div class="media-content">
        <div class="content">
            <strong1> <%= current_user.name %> </strong1>
            <br>
            <p> <%= goal.title %> </p>
        </div>
      </div>
      <div class="media-right">
        <strong>Completed Goal!</strong> 
        <br>
        <small> <%= goal.completed.strftime("%^b %d") %> </small>
      </div>     
    </div>
  </div>
</div>

