<div class="card post" style="margin-top: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-64x64">
          <%= image_tag "http://lorempixel.com/128/128/people/" %>
        </div>
      </div>
      <div class="media-left2">
        <strong> <%= current_user.name %> </strong>
      </div>
      <div class="media-content">
        <strong> <%= goal.title %> </strong>
      </div>
      <div class="media-right">
        <small> <%= goal.completed.strftime("%^b %d") %> </small> 
      </div>     
    </div>
  </div>
</div>
