@import "bulma"; 
@import "home";
@import "font-awesome";
@import "jquery-ui";


.container {
  margin-top: 20px;
}

.field:not(:last-child) {
 margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.level:not(:last-child) {
  margin-left: 5px;
  margin-right: 5px;
}

.button.is-primary {
  margin: 5px;
}

a {
  color: skyblue;
  margin-top: 7px;
  margin-left: 5px;
  margin-left: 5px;
}

.subtitle:not(:last-child) {
  margin-bottom: -0.5rem;
  
}

.media {
  margin-bottom: 15px;
}

.progresslabel {
  font-family: "Arial";
  position: absolute;
  left: 240px;
  top: -4px;
  font-size: medium;
  color: white;
  font-weight: 800;
}

.hidden {
  display: none;
}

.button.is-small {
  top: 28px;
}

.card-header {
  background-color: slategray;
}
.subtitle {
  color: white;
}

body {
  background-color: #E9E9E9;
  color: dodgerblue;
}

.like {
  color: slategray;
  font-size: 10px;
  margin-top: 3px;
  margin-left: 3px;
}

.icon .fa {
  font-size: 18px;
  margin-right: 7px;
  margin-top: -7px;
  // color: skyblue
  margin-left: 5px;
}

img {
  border-radius: 100%;
}

a.navbar-logo {
  color: dodgerblue;
  margin-left: 20px;
}

// .card-content-text {
//   background-color: #e9e9e9;
//   color: dodgerblue;
//   font-size: 48px;
// }

