@import "bulma"; 
@import "home";
@import "font-awesome";
@import "jquery-ui";


.container {
  margin-top: 20px;
}

.field:not(:last-child) {
 margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.button.is-primary {
  margin: 5px;
}

