// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-content {
  padding: 0.5rem;
}

strong {
  font-size: 18px;
}

// .set-date {
//   font-size: 22px;
//   font-weight: 700;
// }

// .due-date {
//   font-weight: none;
// }

.card-goals {
  cursor: pointer;
  &:hover {
    background-color: rgba(250, 250, 240, 1);
  }
}

.task-list {
  padding-left: 1rem;
}

.is-liked {
  color: green !important; 
}