// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-content {
  padding: 0.5rem;
}

strong {
  font-size: 18px;
}

// .set-date {
//   font-size: 22px;
//   font-weight: 700;
// }

// .due-date {
//   font-weight: none;
// }

.card-goals {
  cursor: pointer;
  &:hover {
    background-color: rgb(233, 246, 255);
  }
}

.task-list {
  padding-left: 1rem;
}

.is-liked {
  color: skyblue !important; 
  font-size: 14px;
  margin-top: 5px;
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
}